@import "mixins";

$font-size: 12px;
$line-height: 1.5;

.component {
  color: $white-44;
  font-size: $font-size;
  text-align: left;
}

.collapsed {
  height: ($font-size * $line-height * 4);
  overflow: hidden;
}

.button {
  color: $blue;
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.26px;
  text-align: right;
  margin-top: 12px;

  svg {
    fill: $blue;
    margin-left: 2px;
  }
}
