@import "mixins";

$padding: 20px;

.component {
  background: $saturated-blue;
  border-radius: $border-radius;
  margin-top: $gutter;
}

.header {
  @include desktop {
    @include flex(space-between);
  }

  padding: $padding;
  padding-bottom: 0;
}

.token {
  @include flex(flex-start);
  font-size: 12px;
}

.symbol {
  color: $battleship;
}

.price {
  margin-left: 5px;
}

.ranges {
  @include mobile {
    margin-top: 10px;
  }

  .button:not(:first-child) {
    margin-left: 10px;
  }
}

.button {
  @include transition;

  border-width: 1px;
  border-style: solid;
  border-color: $battleship;
  border-radius: 50%;
  color: $battleship;
  font-size: 11px;
  font-weight: 500;
  width: 20px;
  height: 20px;

  &.active {
    border-color: white;
    color: white;
  }
}

.description {
  padding: $padding;
  padding-top: 0;
}
