@import "mixins";

.content {
  @include mobile {
    margin-bottom: $card-padding-vertical-mobile;
  }
}

.title {
  color: $white-92;
  font-weight: 500;

  @include desktop {
    margin-bottom: 56px;
  }

  @include mobile {
    margin-bottom: 24px;
  }
}

.item {
  @include mobile {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}
