@import "mixins";

.tvl {
  @include mobile {
    margin-bottom: $gutter-vertical-mobile;
  }
}

.footer {
  @include mobile {
    margin-top: $gutter-vertical-mobile;
  }

  @include desktop {
    margin-top: 32px;
  }
}
