@import "mixins";

.link {
  @include flex;
  @include transition(color);
  display: inline-flex;
  color: $white-80;
  font-size: 14px;
  font-weight: 500;

  svg {
    @include transition(fill);
    fill: $white-80;
    margin-right: 4px;
  }

  &:hover {
    color: white;
    text-decoration: none;

    svg {
      fill: white;
    }
  }
}
