@import "mixins";

.header {
  @include flex(space-between);
  @include mobile {
    padding: 12px $gutter-horizontal-mobile;
  }

  @include desktop {
    padding: 36px $gutter-horizontal-desktop;
  }
}

.wrapper {
  @include flex;

  > svg {
    fill: $blue;
    margin-right: 8px;
  }
}

.title {
  color: $white-92;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.link {
  color: $blue;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;

  svg {
    fill: $blue;
    margin-left: 4px;
  }
}
