$bg: #1c1c1c;
$text: #ebebeb;
$muted: #a4a4a4;
$link: #66adff;
$line: #373738;
$hover: #242424;

/* Fonts */
$font-size-mobile: 14px;
$font-size-desktop: 16px;
$font-family: "Gotham";

/* Sizes */
$max-width: 640px;
$breakpoint: 992px;

/* Transitions */
$transition-duration: 0.2s;
