@import "mixins";

.header {
  @include flex;
  margin-bottom: 24px;

  &.right {
    justify-content: flex-end;
  }
}

.message {
  @include flex(flex-start);
  display: inline-flex;
  white-space: pre;

  i {
    margin-left: 3px;
  }
}

.link {
  &,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.ratio {
  margin-top: 20px;
}
