@import "mixins";

.button {
  @include flex;
  color: $battleship;
}

.card {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.list {
  @include flex;
}

.item {
  $color: #232d4b;
  @include flex;
  @include transition;

  flex: none;
  background-color: $color;
  border: 1px solid $color;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 60px;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    border-color: $blue;
  }
}

.input {
  @include transition(opacity);

  text-align: right;

  &:not(.focused) {
    opacity: 0.3;
  }
}

.group {
  width: 100px;
  padding: 0 15px;

  input {
    flex: 1;
    width: 0;
    padding-right: 10px;
  }

  span {
    flex: none;
  }

  &.error {
    border-color: $red;
  }

  &.warning {
    border-color: $orange;
  }

  &.success {
    border-color: $blue;
  }
}

.active {
  background-color: $blue;
  border-color: $blue;
  color: $darkblue;
}

.feedback {
  font-size: 14px;
  margin-top: 10px;

  &.error {
    color: $red;
  }

  &.warning {
    color: $orange;
  }
}
