@import "mixins";
@import "variables";

$symbol: 16px;
$name: 12px;

.asset {
  @include flex(space-between);
  // Because only one line of data can exist, fix the height.
  height: (($symbol + $name) * $line-height);
}

.header {
  text-align: left;
  width: 100%;
}

.symbol {
}

.divide {
  color: $deepgray;
  margin-left: 15px;
  margin-right: 15px;
  font-size: $symbol;
  font-weight: 500;
  float: left;
  line-height: 20px;
}

.symbol_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  float: left;
}

.name {
  color: $deepgray;
  margin-left: 15px;
  font-size: $symbol;
  font-weight: 500;
  float: left;
  line-height: 24px;
}

.address {
  color: $deepgray;
  margin-right: 15px;
  font-size: $symbol;
  font-weight: 500;
  line-height: 24px;
}

.footer {
  text-align: left;
}

.balance {
  color: $blue;
  font-size: 12px;
}
