@import "mixins";
@import "variables";

.wrapper {
  background: $saturated-blue;
  border-radius: $border-radius;
  margin-bottom: 15px;
  padding: 0 20px;
}

.row {
  @include flex(space-between);
  padding: 15px 0;
}

.title,
.content {
  font-size: 14px;
  font-weight: 500;
}

.title {
  color: white;
}

.content {
  color: $aqua;
}

.children {
  border-top: 1px dashed fade-out($battleship, 0.5);
  padding: 10px 0;

  .row {
    padding: 5px 0;
  }

  .title,
  .content {
    color: $battleship;
    font-size: 12px;
    font-weight: normal;
  }
}

.footer {
  padding: 10px 0;

  .row {
    padding: 5px 20px;
  }

  .title,
  .content {
    color: $battleship;
    font-size: 14px;
    font-weight: normal;
  }
}
