@import "mixins";

.toast {
  @include mobile {
    @include flex(flex-start);
    position: sticky;
    top: 0;
  }

  @include desktop {
    border-radius: $border-radius;
    box-shadow: 0 10px 40px 0 fade-out(black, 0.7);
    text-align: center;
    width: 260px;

    position: fixed;
    top: $gutter-horizontal-desktop;
    right: $gutter-horizontal-desktop;
    z-index: 9999;
  }

  background: $gray-22;
  padding: $gutter-horizontal-desktop;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    fill: $white-44;
  }
}

.image {
  @include mobile {
    margin-right: 24px;
  }

  animation: rotate 2s infinite;
  animation-timing-function: linear;
  transform-origin: bottom;
}

@keyframes rotate {
  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.header {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;

  @include desktop {
    margin-top: 10px;
  }
}

.content {
  color: $white-92;
  font-size: 12px;
  margin-bottom: $gutter-horizontal-desktop;
}
