@import "mixins";

.badge {
  $height: 21px;
  @include flex;
  display: inline-flex;
  height: $height;
  border-radius: ($height / 2);
  background: fade-out(white, 0.9);
  color: white;
  font-size: 10px;
  font-weight: 500;
  min-width: 90px;
}
