@use "sass:math";
@import "mixins";

.button {
  @include flex;
  @include transition;

  display: inline-flex;
  font-weight: 500;
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  & + & {
    margin-left: 10px;
  }

  // sequence important
  &.disabled {
    opacity: 0.3;
  }

  &.loading {
    opacity: 0.5;
  }

  svg {
    margin-right: 8px;
  }
}

@mixin hover {
  &:hover:not(.loading):not(.disabled) {
    @content;
  }
}

.button:not(.outline) {
  background-color: $blue;
  color: $button;

  @include hover {
    background-color: fade-out($blue, 0.25);
  }

  &.secondary {
    background-color: $gray-14;
    color: $blue;

    svg {
      fill: $blue;
    }

    @include hover {
      background-color: fade-out($gray-14, 0.25);
    }
  }

  &.disabled {
    background-color: $gray-34;
  }
}

/* outline */
.outline {
  border-width: 1px;
  border-style: solid;

  @include hover {
    opacity: 0.75;
  }

  @mixin button-outline-variant($color) {
    border-color: $color;
    color: $color;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      @include button-outline-variant($color);
    }
  }

  &.secondary {
    @include button-outline-variant($gray-14);
  }
}

/* block */
.block {
  width: 100%;
}

/* sizes */
@mixin button-size(
  $font-size-mobile,
  $font-size-desktop,
  $height-mobile,
  $height-desktop,
  $padding
) {
  border-radius: 8px;
  padding: 0 $padding;

  @include mobile {
    font-size: $font-size-mobile;
    height: $height-mobile;
  }

  @include desktop {
    font-size: $font-size-desktop;
    height: $height-desktop;
  }
}

.xs {
  @include button-size(12px, 12px, 32px, 32px, 10px);
  min-width: 90px;
}

.sm {
  @include button-size(14px, 14px, 36px, 36px, 10px);
  width: 100%;
}

.md {
  @include button-size(14px, 14px, 48px, 56px, 20px);
  width: 100%;
  min-width: 160px;
  max-width: 360px;
}

.lg {
  @include button-size(16px, 18px, 56px, 64px, 30px);
  width: 100%;
  max-width: 360px;
}

/* theme */
.submit {
  @include mobile {
    margin: 24px auto 0;
  }

  @include desktop {
    margin: 56px auto 0;
  }

  text-align: center;
}

/* label */
.progress svg {
  margin-right: 0;
}
