@import "mixins";
@import "variables";

.flex {
  @include flex;
}

.inline {
  display: inline-flex;
  margin-left: 4px;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.change {
  color: $muted;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.3px;

  svg {
    margin-right: 2px;
  }
}

.up {
  color: $blue;

  svg {
    fill: $blue;
  }
}

.down {
  color: $red;

  svg {
    fill: $red;
  }
}

.idle {
  color: transparent;
}
