@import "src/styles/mixins.module";
@import "src/styles/variables.module";

.flex {
  @include flex(flex-start);
}

.change {
  font-size: 12px;

  &:not(:first-child) {
    margin-left: 10px;
  }

  i {
    margin-right: 5px;
  }
}

.up {
  color: $aqua;
}

.down {
  color: $red;
}
