@import "mixins";
@import "variables";

.component {
  @include flex(space-between);

  color: $blue;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.2px;

  &:hover {
    text-decoration: none;
  }

  svg {
    fill: $blue;
    margin-left: 4px;
  }

  @include desktop {
    @include transition(background-color);

    background-color: $gray-22;
    border-radius: 17px;
    padding: 8px 14px;
    width: 100%;

    &:hover {
      background-color: fade-out($blue, 0.9);
    }
  }
}

.wrapper {
  @include flex;

  svg {
    @include mobile {
      margin-right: 4px;
    }

    @include desktop {
      margin-right: 8px;
    }
  }
}

.address {
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
}
