@import "mixins";
@import "variables";

.wallet {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  padding: 25px;
  width: 310px;

  background: $darkblue;
  border: 1px solid fade-out($blue, 0.75);
  border-radius: $border-radius;
  box-shadow: 0 20px 40px fade-out(black, 0.5);

  i {
    margin-right: 5px;
  }
}

.header {
  @include flex(space-between);
  margin-bottom: 30px;
}

.address {
  @include flex;

  color: white;
  font-size: 16px;
}

.disconnect {
  font-size: 10px;
}

.actions {
  @include flex(space-between);
  font-size: 12px;

  .button {
    @include flex;
    @include link($blue, lighten($blue, 25%));
    text-decoration: none;
  }

  i {
    font-size: 14px;
  }
}

.send {
  margin-top: 20px;
}
