@import "variables";

.container {
  margin: 0 auto;
  padding: 0 $gutter;
  max-width: (1200px + 2 * $gutter);
}

.sm {
  margin: 60px auto;
  max-width: 460px;
}

p {
  color: #5c5c5c;
  font-size: 12px;
  text-align: center;
}
