@import "mixins";
@import "variables";

.group + .group {
  @include mobile {
    margin-top: 32px;
  }

  @include desktop {
    margin-top: 32px;
  }
}

.component {
  input,
  textarea {
    width: 100%;
  }

  ::placeholder {
    color: fade-out(#f0f0f0, 0.8);
  }
}

$padding: 18px 24px;

.border {
  @include transition(border-color);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-34;
  padding: $padding;
  position: relative;

  &.readOnly {
    $bg: fade-out($gray-34, 0.9);
    border-color: $bg;
    background: $bg;
  }

  &.focused {
    border-color: $blue;
  }

  &.warn {
    border-color: $orange;
  }

  &.error {
    border-color: $red;
  }
}

/* field */
.header,
.wrapper {
  @include flex(space-between);

  .label,
  .field {
    flex: 1;
  }

  .help,
  .unit {
    flex: none;
    text-align: right;
    @include flex(flex-end);
  }
}

.header {
  color: $white-44;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}

.wrapper {
  @include mobile {
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.label > label {
  display: block;
  text-transform: uppercase;
}

.help {
  white-space: pre;

  svg {
    fill: $blue;
    margin-right: 6px;
  }
}

.clickable {
  color: $blue;
  cursor: pointer;
}

.max {
  margin-right: 10px;
}

.icon {
  margin-right: 12px;
}

.type-1 .field,
.type-1 .field input {
  text-align: right;
}

.unit:last-child {
  margin-left: 4px;
}

/* assets */
.assets {
  margin-top: 10px;
}

/* feedback */
.feedback {
  color: $red;
  font-size: 12px;
  margin-top: 8px;
  text-align: right;

  &.warn {
    color: $orange;

    svg {
      fill: $orange;
    }
  }
}
