@import "mixins";

.article {
  @include mobile {
    padding: 25px 0;
  }

  @include desktop {
    padding: 64px 0;
  }
}

.header {
  margin-bottom: 24px;

  @include desktop {
    @include flex(space-between);
  }
}

.heading {
  @include flex(flex-start);
}

.action {
  @include mobile {
    margin-top: 12px;
  }
}

.title {
  color: $white-92;

  @include mobile {
    font-size: 24px;
    font-weight: 500;
  }

  @include desktop {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.3px;
  }
}

.select {
  position: relative;

  select {
    appearance: none;
    border: solid 1px fade-out($gray-34, 0.5);
    border-radius: 6px;
    color: $white-64;
    font-size: 12px;
    margin-left: 12px;
    letter-spacing: -0.3px;
    padding: 10px 12px;
    padding-right: 30px;
  }

  svg {
    fill: $blue;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    pointer-events: none;
  }
}

.icon {
  margin-right: 4px;
}

.description {
  margin-bottom: 30px;
}
