@import "mixins";
@import "variables";

.component {
  user-select: none;
  width: 100%;
}

.compact {
  display: inline-block;
  width: 80px;
}

.cursor {
  cursor: crosshair;
}

/* axis */
$axis-height: 25px;
.axis {
  position: relative;
  height: $axis-height;
}

.x {
  position: absolute;
  top: 0;
  color: $white-52;
  font-size: 12px;
  font-weight: 500;

  .compact & {
    color: $white-64;
    font-weight: normal;
    letter-spacing: -0.2px;
  }

  height: $axis-height;
  transform: translate(-50%, 0);
  white-space: nowrap;

  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 8px;
    background: $white-52;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
}

/* track */
.track {
  @include flex(flex-start, stretch);
  background: $gray-34;
  height: 8px;
  overflow: hidden;
}

.item {
  @include transition;
}

/* feedback */
.feedback {
  margin-top: 5px;
}

.label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

/* feedback:ratio */
.ratio {
  @include transition;
  transform: translate(-50%, 0);
}

/* feedback:vote */
.vote {
  @include flex(space-between);
}

.text {
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}
