@import "src/styles/mixins.module";
@import "src/styles/variables.module";

$radius: 10px;

.tabs {
  @include flex;
  justify-content: left;
  padding-left: 30px;
}

.tab {
  @include flex;
  @include link;

  color: #0222ba;
  font-size: 16px;
  background: #ffffff;
  margin-top: 30px;
  margin-right: 20px;

  &:only-child {
    height: unset;
  }

  &.active {
    color: #0222ba;
    font-weight: bold;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
  }

  &:hover {
    color: #0222ba;
  }
}

.content {
  padding: 30px;

  @include mobile {
    padding: 30px 16px;
  }
}
