@import "mixins";

.track {
  @include transition(background-color);

  background-color: $slate;
  border-radius: 10px;
  width: 38px;
  height: 20px;

  position: relative;
}

.on {
  background-color: $blue;
}

.thumb {
  @include transition(left);

  background-color: $light;
  border-radius: 50%;
  width: 16px;
  height: 16px;

  position: absolute;
  top: 2px;
  left: 2px;
}

.on .thumb {
  left: 20px;
}
