@import "mixins";
@import "variables";
@import "reboot";
@import "colors";
@import "utils";

#mirror {
  font-size: $font-size;

  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;

  @include mobile {
    padding-bottom: $footer-height-mobile;
  }
}
