@import "mixins";
@import "variables";
@import "reboot";
@import "colors";
@import "utils";

html,
body,
#terraswap {
  width: 100%;
  height: 100%;
  font-size: $font-size;
  position: relative;
  background-color: $realblue;
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 180px);
  font-family: $font-family-swap;
  padding-bottom: $footer-height;
  background-attachment: fixed;

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
  }
  *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  @include mobile {
    padding-bottom: $footer-height-mobile;

    .desktop-only {
      display: none !important;
    }
  }

  @include desktop {
    .mobile-only {
      display: none !important;
    }
  }
}

#basement {
  padding-bottom: $footer-height;

  @include mobile {
    padding-bottom: $footer-height-mobile;
  }
}
