@import "mixins";
@import "variables";

.wrapper {
  position: relative;
}

.connected {
  @include flex(center, stretch);
  border-width: 1px;

  > * {
    @include flex;
  }
}

.address {
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
}

.balance {
  border-left: 1px solid fade-out($blue, 0.9);
  color: $blue;
  margin-left: 10px;
  padding-left: 10px;
}
