@import "mixins";
@import "variables";

.header {
  position: sticky;
  top: 0;
}

@include mobile {
  .header {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.container {
  @include desktop {
    @include flex(space-between);
  }
}

.wrapper {
  @include flex;
}

.logo, .connect {
  @include flex;
  @include desktop;
  margin-top: 46px;
}
