@import "mixins";
@import "variables";

.header {
  margin-bottom: 20px;
}

.hash {
  @include flex(flex-start);
  display: inline-flex;
  color: $slate;
  font-size: 12px;
  font-weight: 500;

  i {
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.main {
  @include flex(flex-start);
}

.badge {
  margin-right: 15px;
}

.message {
  font-size: 16px;
}
