@import "mixins";

.component {
  @include flex(space-between);

  line-height: 1;
  padding: 20px 0;

  &,
  &:hover {
    text-decoration: none;
  }

  i {
    @include transition(color);
  }

  &:hover .main i {
    color: $blue;
  }
}

.main {
  @include flex(flex-start);
  @include link(white, white);
  white-space: pre;
}

.badge {
  margin-right: 10px;
  text-transform: capitalize;

  @include mobile {
    display: none;
  }
}

.muted {
  color: $brown;
}

.hash {
  @include flex;
  color: $slate;
  margin-left: 5px;
}

.footer {
  @include flex(flex-end);

  color: $slate;
  flex: none;
  font-size: 12px;
  font-weight: 500;

  i {
    margin-right: 5px;
  }

  @include mobile {
    display: none;
  }
}
