@import "mixins";

.component {
  @include flex(space-between);

  &,
  &:hover {
    text-decoration: none;
  }

  i {
    @include transition(color);
  }

  &:hover .main i {
    color: $blue;
  }
}

.main {
  @include link(white, white);
  white-space: pre;
}

.badge {
  color: $white-44;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.3px;
  margin-bottom: 2px;
}

.link {
  @include flex(flex-start);
  color: $white-92;
  letter-spacing: -0.3px;
}

.hash {
  @include flex;
  margin-left: 4px;
}

.footer {
  @include flex(flex-end);
  flex: none;

  color: $white-80;
  font-size: 12px;
  letter-spacing: -0.22px;
  text-align: right;
}
